.Password {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	img {
		margin-bottom: 20px;
	}
	input {
		border: 1px solid #fff;
		padding: 10px;
		color: #fff;
		border-radius: 4px;
		font-size: 18px;
		outline: none !important;
		box-shadow: none !important;
		background: transparent;
		text-align: center;
		animation-delay: .25s; 
	}
}