.navline {
	background: #fff;
	border-color: transparent;
	transition: color 0.4s cubic-bezier(.25,.8,.25,1);
	&.is_top { 
		border-bottom: 1px solid #E5E5E4; 
		padding: 5px !important;
		transition: all 0.4s cubic-bezier(.25,.8,.25,1);
		img {
			transition: all 0.4s cubic-bezier(.25,.8,.25,1);
			height: 30px;
			width: 30px;
		}
	}
}

.Navigation {
	background: #fff;
	.nav-item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	.nav-link {
		position: relative;
		font-size: 14px;
		cursor: pointer;
		font-family: "Hind", sans-serif;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 0;
			background: $brand-color;
			transition: width 0.4s cubic-bezier(.25,.8,.25,1);
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
	button {
		color: $brand-color;
		background: transparent;
		outline: none !important;
		border: none;
	}
}

.mobile {
	padding-top: 68px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	img {
		height: 60px;
		width: 60px;
	}
}

.topper {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	color: #fff;
	background: #3C3C3C;
	border: none !important;
	border-radius: 50%;
	outline: none !important;
	cursor: pointer;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	z-index: 99999;
	&:hover {
		box-shadow: 0 24px 48px 10px rgba(0,0,0,.1);
	}
}

.mobile-overlay {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 9;
}
.nav-link {
	text-transform: uppercase !important;
}
.mobile {
	.menu-button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		height: 30px;
		width: 30px;
		right: 30px;
		background: transparent;
		border: none; 
		outline: none !important;
		font-size: 30px;
		padding: 0;
		z-index: 999;
	}
	.navbar-nav {
		position: absolute;
		top: 100%;
		background: white;
		width: 100vw;
		border-bottom: 1px solid #E5E5E4;
		.nav-link {
			flex-grow: 1;
			text-align: center;
			a {
				cursor: pointer;
			}
		}
	}
}